@import url('https://fonts.googleapis.com/css?family=Asap');

body {
    font-family: 'Asap', sans-serif;
}

#image-holder, #result-holder{
    display: inline-block;
    text-align: center;
    width: 450px;
    height: 450px;
    border: 1px darkgray solid;
    background: lightgrey;
}

#image-holder > img, #result-holder > img, .interaction-canvas{
    margin: 20px auto;
}

#file-input{
    color: transparent;
}

.interaction-canvas{
    position: absolute;
    pointer-events: none;
}

#corners{
    display: none;
}